<template name="normal_navbar">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <form class="createDesktop navbar-form navbar-right">
                <div class="form-group">
                    <input required type="text" class="form-control desktopName" placeholder="Desktop name">
                        <button class="btn btn-default" type="submit">Create!</button>
                </div>
            </form>
            {{> loginButtons}}
        </div>
    </nav>
</template>