#layoutContent {
	display: flex;
	flex-direction: column;

	background-color: #39BF39;
}

#kanban {
	display: flex;
	flex: 1 1 auto;
	overflow-x: auto;

	.column {
		min-width: 200px;

		position: relative;

		display: flex;
		flex-direction: column;

		background-color: #DDD;
		border-radius: 5px;
		margin: 5px;

		.columnName{
			.columnTitle{
				width: 100%;
			}
		}

		.cards {
			flex: 1 0 100px;
			overflow-y: auto;

			padding: 0;

			.card {
				list-style-type: none;
			}
		}

		.createCard {
			width: 90%;
			align-self: center;
		}

		.kanbanColumnOptions {
			position: absolute;
			top: 0;
			right: 0;
			display: none;

			&.open {
				display: block;
			}
		}

		&:hover .kanbanColumnOptions {
			display: block;
		}
	}
}